*{
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Monaco, Arial;
}

h1{
  font-size: 2.5em;
  margin-bottom: 25px;
}

h2{
  font-size: 1.5em;
  margin-bottom: 15px;
}

label{
  display: block;
}

input, textarea{
  width: 300px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
}

form{
  width: 300px;
}

form, #preview{
  height: 280px;
  float: left;
}

#preview{
  width: 588px;
  margin-left: 12px;
  overflow: hidden;
}

iframe{
  border: none;
  width: inherit;
  height: inherit;
}

.error{
  display: block;
  color: black;
  font-weight: bold;
  background: #EA8687;
  border: solid 2px #E76C6D;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

input[type=text]{
  font-size: 2em;  
}
 /* http://www.smashingmagazine.com/2009/12/02/pushing-your-buttons-with-practical-css3/*/
input[type=submit]{
  padding: 10px 5px;
  background: #E85730;
  background: -webkit-gradient(linear, left top, left bottom, from(#EA6440), to(#E5461B));;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #AC3312;
  position: relative;
  cursor: pointer;
}
