#{extends 'main.html' /}
#{set title:'Snippets' /}
<h1>Play! snippets</h1>
<div>
  <ul>
    #{list items:snippets, as:'s'}
      <li>
        <p>
          ${s.description}
        </p>
        <script type="text/javascript" charset="utf-8" src="http://gist.github.com/${s.ident}.js"></script>
      </li>
    #{/list}
  </ul>
</div>
#{form @Application.add()}
  <h2>Add a snippet:</h2>
  <p>
    #{ifError 'snippet.ident'}<span class="error">#{error 'snippet.ident' /}</span>#{/ifError}
    <label for="ident">Ident:</label>
    <input type="text" name="snippet.ident" id="ident" value="${flash['snippet.ident']}"/>
  </p>
  <p>
    <input type="submit" value="Add">
  </p>
#{/form}
<div id="preview">
  <h2>Preview:</h2>
  <iframe src="" scrolling="no"></iframe>
</div>